
.outer {
    display: grid;
    height: max-content;
    place-items: center;
    margin: 5%;
    margin-top: 3%;
    border-radius: 20px;
    background-color: white;
    opacity: 0.8;
}

.inner {
    display: grid;
    height: max-content;
    width: 90%;
    margin-top: 3%;
    margin-bottom: 3%;
    font-size: 5vh;
}

.text {
    font-size: 1.5vh;
}

.white-button {
    height: 5vh;
    box-shadow: 2px 2px lightslategrey;
}

.disabled-button {
    height: 5vh;
    box-shadow: 2px 2px lightslategrey;
    border-color: lightgray !important;
    background-color: lightgray !important;
}

.ui-inputfield {
    width: 35vh;
    height: 5vh;
    background-color: whitesmoke;
    box-shadow: 2px 2px lightslategrey;
    border-color: lightslategrey;
}

.ui-dialog-titlebar {
    border-color: #00d7ff !important;
    background-color: #00d7ff !important;
}

#form {
    content: "";
    display: table;
    clear: both;
    width: 100%;
}

.form-column {
    float: left;
    width: 23%;
    margin-right: 5%;
    margin-left: 5%;
}

#roles-table{
    display: table;
    width: 100%;
}

.roles-cell {
    float: left;
    width: 100%;
    margin-top: 3% !important;
    margin-bottom: 3% !important;
}


.PW-button {
    width: 100%;
}

.ui-state-active {
    border-color: lightgray !important;
    background-color: lightgray !important;
}

.ui-state-focus {
    border-color: #00d7ff !important;
}

.ui-link{
    color: lightslategrey;
    font-size: 2vh !important;
    margin-bottom: 1%;
}

.ui-link:hover {
    color: #00d7ff;;
}

.ui-selectonemenu {
    margin-bottom: 5% !important;
    width: 30vh;
    height: 5vh;
    box-shadow: 2px 2px lightslategrey;
    border-color: lightslategrey;
}

.ui-selectonemenu-label-container {
    height: 5vh;
    width: 20vh;

}

.ui-selectonemenu-label {
    margin-top: 3%;
    box-shadow: none;
    height: 4vh;
}
