.outer {
    display: grid;
    height: max-content;
    place-items: center;
    margin: 5%;
    margin-top: 3%;
    border-radius: 20px;
    background-color: white;
    opacity: 0.8;
}

.inner {
    display: grid;
    height: max-content;
    width: 90%;
    margin-top: 3%;
    margin-bottom: 3%;
    font-size: 2.5vh;
}

#form {
    content: "";
    display: table;
    clear: both;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
}


#save-button {
    width: 100% !important;
    margin-top: 5%;
}

.ui-button {
    width: 100% !important;
}

.ui-datepicker{
    margin-top: 5%;
}

.heading {
    font-size: 4vh !important;
    text-align: center !important;
}

.ui-inputfield{
    width: 23vh;
}

.ui-datatable{
    margin-left: 5%;
 }

.ui-column-title{
    font-weight: bold !important;
}

#pie-chart{
    height: 50vh;
    font-size: 2.5vh;
}

.ui-inputgroup{
    margin-top: 3% !important;
}

.ui-selectonemenu{
    width: 20vh !important;
}

.ui-datepicker {
    background-color: whitesmoke;
    box-shadow: 2px 2px lightslategrey;
    border-color: lightslategrey;
}

.ui-state-highlight {
    border-color: lightslategrey !important;
    background-color: lightslategrey!important;
    color: white !important;
}

.ui-state-active{
    border-color: #00d7ff !important;
    background-color: #00d7ff !important;
    color: white !important;
}